body {
  background-color: #d3e6e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: grey;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #faccca;
  padding-bottom: 10px;
}
